* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #e7f2f8;

}

nav {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #34495e;
}

label.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-left: 100px;
    line-height: 60px;
}

.contant {
    display: flex;
}

aside {
    min-width: 250px;
    max-width: 250px;
    background-color: #274472;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #042331;
}


aside ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 18px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid #e1e1e11a;
    transition: .5s;
}

a:hover {
    padding-left: 50px;
}

aside ul a i {
    margin-right: 10px;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper h1 {
    line-height: 170px;
    font-size: 40px;
    color: #274472;

}

table {
    width: 50%;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    font-size: 18px;
    box-shadow: 0px 2px 12px #aaaaaa;
    font-weight: bold;
}

th,
td {
    padding: 12px 15px;
}

th {
    background-color: #34495e;
    color: white;
    text-transform: uppercase;
    text-align: start;
}
td{
    text-transform: capitalize;
}

tr:nth-child(odd) {
    background-color: #eeeeee;
}
table td a{
    font-size: 18px;
}
p{
    color: red;
}